<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="front_right_wheel_link_macro">

  <xacro:macro name="front_right_wheel_link" params="prefix">

    <!-- Links -->
    <link name="${prefix}front_right_wheel_link">
      <inertial>
        <origin xyz="0.000000 0.000000 -0.007006" rpy="0 0 0"/>
        <mass value="0.611603"/>
        <inertia ixx="5.265770e-04" ixy="-5.777757e-10" ixz="-8.274263e-11"
                 iyy="5.265750e-04" iyz="6.033033e-11" izz="7.325315e-04"/>
      </inertial>
      <visual>
        <origin xyz="0.012900 0.018048 -0.001523" rpy="1.570796 0.000000 3.141593"/>
        <geometry>
          <mesh filename="package://ma_robot_description/meshes/front_right_wheel_link/front_right_wheel_link.dae" scale="1 1 1"/>
        </geometry>
        <material name="Steel"/>
      </visual>
      <collision>
        <origin xyz="0.012900 0.018048 -0.001523" rpy="1.570796 0.000000 3.141593"/>
        <geometry>
          <mesh filename="package://ma_robot_description/meshes/front_right_wheel_link/front_right_wheel_link_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>