<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ma_robot_macro">

  <xacro:macro name="ma_robot" params="prefix">

    <!-- Links -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="0.041573 -0.062494 0.024421" rpy="0 0 0"/>
        <mass value="2.899175"/>
        <inertia ixx="7.973873e-03" ixy="9.036956e-07" ixz="2.783768e-04"
                 iyy="1.379507e-02" iyz="-4.481468e-07" izz="2.052792e-02"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
        <geometry>
          <mesh filename="package://ma_robot_description/meshes/ma_robot/base_link.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acetal_Resin_Black"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
        <geometry>
          <mesh filename="package://ma_robot_description/meshes/ma_robot/base_link_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>